<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="background"></div>
    <div class="ion-card-container">
      <ion-card>
        <ion-card-header>
          <img src="{{ (pet | async)?.petPhoto }}" />
        </ion-card-header>
        <ion-card-content>
          <p *ngIf="(pet | async)?.petName !== '' ">
            <span>Nome:</span>
            {{ (pet | async)?.petName }}
          </p>
          <p>
            <span *ngIf="(pet | async)?.occurrence === 'found'">Encontrado por:</span> 
            <span *ngIf="(pet | async)?.occurrence === 'lost'">Cadastrado por:</span> 
            {{ (pet | async)?.reporterName }} 
          </p>
          <p>
            <span *ngIf="(pet | async)?.occurrence === 'found'">Encontrado em:</span> 
            <span *ngIf="(pet | async)?.occurrence === 'lost'">Última vez visto em:</span> 
            {{ (pet | async)?.occurrenceDate }}
          </p>
          <p *ngIf="(pet | async)?.breed !== ''"><span>Raça:</span> {{ (pet | async)?.breed }}</p>
          <p *ngIf="(pet | async)?.gender !== ''"><span>Sexo:</span> {{ (pet | async)?.gender }}</p>
          <p *ngIf="(pet | async)?.temper !== ''"><span>Temperamento: </span>{{ (pet | async)?.temper }}</p>
          <p *ngIf="(pet | async)?.occurrenceLocation !== ''"><span>Localização: </span>{{ (pet | async)?.occurrenceLocation }}</p>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
