:host {
    ion-header {
        background: #f2709c;
        text-align: right;
        height: 50px;
        ion-icon {
            color: #fff;
            font-size: 30px;
        }
    }

    ion-content {
        background: #eeeeee;
    }

    .carousel-outer-container {
        height: 40%;
    }
    
    .carousel-slide-container {
        overflow: hidden !important;
        border-radius: 20px;
        background-color: #fff;
    }

    .carousel-slide-img-container {
        height: 50%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .carousel-slide-text-container {
        p {
            padding: 0px;
            margin: 0px;
            font-size: 14px;
            span {
                font-weight: bold;
                color: #f2709c;
            }
        }
    }
}