<div class="carousel-outer-container">
  <swiper [config]="config">
    <div class="carousel-slide-container" (click)="details()">
      <div class="carousel-slide-img-container">
        <img src="../../../assets/kitty1.jpg">
      </div>
      <div class="carousel-slide-text-container" padding>
        <p><span>Encontrado em:</span> 23/02/2019 </p>
        <p><span>Por:</span> Rebeca Gomes</p>
      </div>
    </div>
    <div class="carousel-slide-container">
      <div class="carousel-slide-img-container">
        <img src="../../../assets/puppy1.jpeg">
      </div>
      <div class="carousel-slide-text-container" padding>
        <p><span>Encontrado em:</span> 12/08/2018 </p>
        <p><span>Por:</span> Bruno Alves</p>
      </div>
    </div>
    <div class="carousel-slide-container">
      <div class="carousel-slide-img-container">
        <img src="../../../assets/puppy2.jpg">
      </div>
      <div class="carousel-slide-text-container" padding>
        <p><span>Encontrado em:</span> 05/01/2019 </p>
        <p><span>Por:</span> Julio</p>
      </div>
    </div>
    <div class="carousel-slide-container">
      <div class="carousel-slide-img-container">
        <img src="../../../assets/kitty2.jpeg">
      </div>
      <div class="carousel-slide-text-container" padding>
        <p><span>Encontrado em:</span> 10/02/2019 </p>
        <p><span>Por:</span> Flávia Silva </p>
      </div>
    </div>
  </swiper>
</div>